h1,h2,h3{
	margin: 0;
}
body{
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}
ul{
	padding: 0;
	margin:0;
}
li{
	list-style-type: none;
}
a{
	text-decoration: none;
}
main{
	padding: 30px;
}
h2{
	font-size: 1.5em;
	text-shadow: 3px 3px #cccccc;
}
p{
	font-weight: bold;
}
h1{
	margin: 30px 0 10px 0;
	font-family: 'Roboto', sans-serif;
	color: white;
	text-align: center;
	text-shadow: 3px 3px #0a3d62;
}
.infos, .chronological, .skills{
	width: 500px;
	margin: 30px auto;
}

/* Header style*/
header ul{
	display: flex;
	justify-content: space-around;
}

header{
	background-color: #3c6382;
	padding: 20px 10px;
}
header ul>li{
	margin: auto 0;

}
header ul>li>a{
	padding: 15px;
	font-weight: bold;
	font-size: 1.5em;
	color: white;
	text-align: center;
	display: block;
	text-shadow: 3px 3px #0a3d62;
}
header ul>li>a:hover{
	color: #60a3bc;
}
header img{
	border-radius: 50%;
	margin: 0 auto;
	display: block;
	box-shadow: 10px 10px #0a3d62;
}

/* Infos générales */
.infos{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;

}
.infos h2{
	grid-column: 1/4;
	grid-row-start: 1;
	text-align: center;
}
.infos ul{

	text-align: center;
}
.infos ul li{
	list-style-type: disc;
	padding: 5px;	
}
.infos a{
	color: #3c6382;
}
.infos a:hover{
	color:  #0a3d62;
}

/* Chronological lists */
.chronological h2, .skills h2, p{
	text-align: center;
}
.chronological li:nth-child(odd){
	font-weight: bold;
	font-size: 1.1em;
}
.chronological li:nth-child(even){
	padding: 0 0 10px 0;
	font-family: "Fraunces", sans-serif;	
}
#info_1{
	display: block;
	grid-column-start:1;
	grid-row-start:2;
}
#info_2{
	display: block;
	grid-column-start:2;
	grid-row-start:2;
}
#info_3{
	display: block;
	grid-column-start:3;
	grid-row-start:2;
}


/* compétences */ 
.skills ul li{
	padding: 0 0 15px 0; 
 	list-style-type: disc;
}

/*footer*/
footer{
	padding: 20px 10px;
	background-color: #3c6382;
	text-align: center;
}
footer{
	color: white;
	font-weight: bold;
}
footer a{
	padding: 10px 0 10px 0;
	display: inline-block;
	color: white;
	text-shadow: 3px 3px #0a3d62;
}
footer a:hover{
	color: #60a3bc;
}
footer h2{
	text-shadow: 3px 3px #0a3d62;
}


/* Media Queries*/
@media (max-width: 850px){

		.infos, .chronological, .skills{
		width: 100%;
		margin: 30px auto;
	}
header ul{
		flex-direction: column;
	}
		.infos{
		display: flex;
		flex-direction: column;
	}
	.infos h2{
		margin: 0 0 20px 0;
	}
}