h1,h2,h3{
	margin: 0;
}
body{
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}
ul{
	padding: 0;
	margin:0;
}
li{
	list-style-type: none;
}
a{
	text-decoration: none;
}
main{
	padding: 30px;
}
h2{
	font-size: 1.5em;
}


/* header grid system*/

header ul{
	display: grid;
	grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
}

.Formation{
	grid-column-start: 1;
}
.Expériences{
	grid-column-start: 2;
}
.Compétences{
	grid-column-start: 4;
}

/* Header style*/
header{
	background-color: #3c6382;
	padding: 20px 10px;
} 
header ul>li{
	margin: auto 0;

}
header ul>li>a{
	padding: 5px;
	width: 200px;
	font-weight: bold;
	font-size: 1.5em;
	color: white;
	text-align: center;
	display: block;
	text-shadow: 3px 3px #0a3d62;
}
header ul>li>a:hover{
	color: #60a3bc;
}
header img{
	border-radius: 50%;
	margin: 0 auto;
	display: block;
	box-shadow: 10px 10px #0a3d62;
}
h1{
	margin: 30px 0 10px 0;
	font-family: 'Roboto', sans-serif;
	color: white;
	text-align: center;
	text-shadow: 3px 3px #0a3d62;
}

/* Infos générales */
.infos{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;

}
.infos h2{
	grid-column-start: 2;
	grid-row-start: 1;
	text-align: center;
}
.infos:nth-child(2) {
	display: block;
	background-color: red;
	grid-column-start: 2;
	grid-row-start: 2;
}
.infos:nth-child(3) {
	grid-column-start: 1;
	grid-row-start: 2;
}

.infos:nth-child(4) {
	grid-column-start: 1;
	grid-row-start: 2;
}


/* Chronological lists */
.chronological{
	margin: 0 0 30px;
}
.chronological h2, .skills h2, p{
	text-align: center;
}
.chronological li:nth-child(odd){
	font-weight: bold;
	font-size: 1.1em;
}
.chronological li:nth-child(even){
	padding: 0 0 10px 0;
	font-family: "Fraunces", sans-serif;
	
}

/**/
